.social_container {
  background: #eee;
  padding: 25px 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.social_content {
  text-align: center;
}

.youtube {
  color: #eb3223;
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}
.youtube:hover {
  transform: translateY(-2px);
}

.facebook {
  color: #4968ad;
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

.facebook:hover {
  transform: translateY(-2px);
}

.twitter {
  color: #49a1eb;
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

.twitter:hover {
  transform: translateY(-2px);
}

.instagram {
  color: black;
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

.instagram:hover {
  transform: translateY(-2px);
}

.linkedin {
  color: #4968ad;
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

.linkedin:hover {
  transform: translateY(-2px);
}

.links_content {
  text-align: center;
  padding-top: 15px;
}

.blog {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

/* .blog:active {
    background-color: #4968ad;
} */

.blog:hover {
  cursor: pointer;
  text-decoration: underline;
}

.about {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

.about:hover {
  cursor: pointer;
  text-decoration: underline;
}

.projects {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

.projects:hover {
  cursor: pointer;
  text-decoration: underline;
}

.programs {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

.programs:hover {
  cursor: pointer;
  text-decoration: underline;
}

.faq {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

.faq:hover {
  cursor: pointer;
  text-decoration: underline;
}

.copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}
