.map_h2 {
  text-transform: uppercase;
  font-size: 1rem;
  padding: 30px;
  padding-left: 10px;
  text-align: center;
}

.google_map {
  width: 100%;
  height: 60vh;
  padding: 5%;
}

.pin_text {
  font-size: 1.3em;
}

@media screen and (min-width: 799px) {
  .google_map {
    height: 80vh;
  }

  .map_h2 {
    font-size: 1.3rem;
    font-weight: 400;
  }

  .pin {
    width: 15vw;
    height: 5vw;
  }

  .pin_icon {
    font-size: 10vw;
    width: 50px;
    height: 50px;
  }
}

.image {
    height: 45px;
    width: 45px;
}